@mixin background-image($image-url, $position: center, $size: cover, $repeat: no-repeat) {
  @debug $image-url;
  background-image: url($image-url);
  background-position: $position;
  background-size: $size;
  background-repeat: $repeat;
  @content;
}