@use "../base" as *;

.card {
  background-color: white;
  padding: 1rem 1.5rem;
  border-radius: .5rem;

  @include screen-md {
    &__title {
      font-size: 2rem;
    }
  }

  @include screen-lg {
    &__text {
      max-width: 80%;
      margin: auto;
    }
  }

  @include screen-xl{
    &__title{
      font-size: 3rem;
    }
  }
}